.slide-in,
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  transform-origin: bottom;
  z-index: 100000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide-out {
  transform-origin: top;
}

.transition-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.transition-logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.loader-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.loader-bg img {
  transform: scale(1.1);
}
