.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  transform-origin: bottom;
  z-index: 100000;
  pointer-events: none;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  transform-origin: top;
  z-index: 100000;
  pointer-events: none;
}
