section.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header h1 {
  color: white;
  margin: 0;
  transform: translateY(40px);
  opacity: 0;
}

.h-1 {
  animation: fadeInOut 12s infinite 0s;
}
.h-2 {
  animation: fadeInOut 12s infinite 3s;
}
.h-3 {
  animation: fadeInOut 12s infinite 6s;
}
.h-4 {
  animation: fadeInOut 12s infinite 9s;
}

.h-1 h1:nth-child(1) {
  animation: slideUp 12s infinite 0s;
}
.h-1 h1:nth-child(2) {
  animation: slideUp 12s infinite 0.1s;
}

.h-2 h1:nth-child(1) {
  animation: slideUp 12s infinite 3s;
}
.h-2 h1:nth-child(2) {
  animation: slideUp 12s infinite 3.1s;
}

.h-3 h1:nth-child(1) {
  animation: slideUp 12s infinite 6s;
}
.h-3 h1:nth-child(2) {
  animation: slideUp 12s infinite 6.1s;
}

.h-4 h1:nth-child(1) {
  animation: slideUp 12s infinite 9s;
}
.h-4 h1:nth-child(2) {
  animation: slideUp 12s infinite 9.1s;
}

@keyframes fadeInOut {
  0%,
  2% {
    opacity: 0;
  }
  8%,
  21% {
    opacity: 1;
  }
  24%,
  100% {
    opacity: 0;
  }
}

@keyframes slideUp {
  0%,
  2% {
    transform: translateY(40px);
    opacity: 0;
  }
  8%,
  21% {
    transform: translateY(0);
    opacity: 1;
  }
  24%,
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

section.work {
  height: 100%;
}

.work-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 4em;
}

.work-header p {
  font-weight: 500;
}

.projects {
  display: flex;
  gap: 4em;
}

.project-col {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.project-col:nth-child(2) {
  margin-top: 10em;
}

.project {
  position: relative;
  opacity: 0.35;
  will-change: opacity;
  transition: all 0.3s ease-in;
}

.project:hover {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.project-img {
  width: 100%;
  aspect-ratio: 4/5;
}

.project-name {
  margin: 1.5em 0 0.65em 0;
}

.project-name h2 {
  font-weight: 500;
}

.project-description p {
  color: var(--light2);
}

.cta {
  position: relative;
  height: max-content;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
}

.cta-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.cta-title p {
  font-weight: 500;
}

.cta-header {
  text-align: center;
  width: 60%;
}

.cta-header h2 {
  font-size: 2.5rem;
}

.cta-btn button {
  border: none;
  outline: none;
  padding: 1.5em 3em;
  border-radius: 2em;
  color: var(--light1);
  background: rgb(90, 78, 49);
  background: linear-gradient(
    60deg,
    rgba(90, 78, 49, 1) 0%,
    rgba(134, 113, 67, 1) 30%,
    rgba(104, 110, 74, 1) 65%,
    rgba(65, 77, 56, 1) 100%
  );
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .projects {
    flex-direction: column;
  }

  .project-col:nth-child(2) {
    margin-top: 0;
  }

  .cta {
    padding: 8em 1em;
    gap: 4em;
  }

  .cta-header {
    width: 90%;
  }

  .cta-header h2 {
    font-size: 1.75rem;
  }
}
